APP_ADDR=:8080
APP_TIMEZONE=Asia/Shanghai
AUTO_MIGRATE=true
MIGRATIONS_DIR=db/migrations
ICS_IMPORT_HORIZON_DAYS=180
MAX_UPLOAD_SIZE_BYTES=4194304
SESSION_COOKIE_NAME=todo_session
SESSION_TTL_HOURS=720
SESSION_SECURE_COOKIE=false
ALLOW_REGISTRATION=true
DATABASE_URL=postgres://todo:todo@localhost:5432/todo?sslmode=disable
QUOTES_DATABASE_URL=postgres://quotes:quotes@localhost:5432/quotes?sslmode=disable
