.DS_Store
.env
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
bin/
dist/
tmp/
vendor/
node_modules/
coverage.out
*.test
__debug_bin*
deploy/synology/code.md
技术栈.md
开发进度.md
